@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.no-scroll {
  overflow: hidden;
}
.overflow-y-scroll::-webkit-scrollbar {
  width: 4px;
 
}

/* .overflow-y-scroll::-webkit-scrollbar-thumb {
  background-color: #054A91;
  border-radius: 4px;
  
}

.overflow-y-scroll::-webkit-scrollbar-track {
  background-color: #F3F7FA;
  border-radius: 4px;
} */
